<div class="list-title">
    <div class="pull-right">
        <a href="/about"><img src="img/info.svg" style="height:32px;margin-right:14px;margin-top:-5px;"></a>
    </div>
    <h1>EUROPE ALIENS</h1>
</div>
<ul class="list-unstyled">
    <li ng-repeat="animal in animals">
        <div class="animal-list-item">
            <a href="/animals/{{animal.iD}}">
                <img ng-attr-src="img/{{animal.iD}}.jpg" class="animal-list-img"/>
                <span class="animal-list-name">{{animal.bezeichnungdeutsch}}</span>
            </a>
        </div>
    </li>
</ul>