<carousel model="animals" active="activeIndex">
    <div id="carousel">
        <ul class="list-unstyled">
            <li class="pane1" ng-repeat="animal in animals">
                <div class="title">
                    <h2>{{animal.name}}</h2>
                </div>
                <div class="img-container">
                    <img ng-attr-src="img/{{animal.iD}}.jpg" class="animal-img"/>
                </div>
                <div class="container scroll-container">
                    <p class="desc">
                        {{animal.Teaser}}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</carousel>