<div style="height:100%;position: relative">
    <h1 style="position:absolute;top:50%;margin-top:-15px;font-size:30px;left:12%">EUROPE ALIENS</h1>
    <img src="img/scroll-down-16.svg" style="height:50px;position:absolute;bottom:14px;left:50%;margin-left:-30px;"/>
</div>

<div class="container">
    <p><br/></p>

    <p>Rattenfressende Ochsenfrösche, schwäbische Killeralgen, asiatische Tigermücken - gibt’s nicht vor deiner Haustür?
    </p>

    <p>Und ob! Invasive Arten werden zu unseren neuen Nachbarn. Und zur Gefahr für die heimische Flora und Fauna.</p>

    <p><br/></p>

    <h4>Zunahme der Landtiere<br/>
        <small>1900 - 2008</small>
    </h4>
</div>
<highchart id="introChart" config="chartConfig" class="chart"></highchart>
<div class="container" style="margin-top:7em;margin-bottom:4em">
    <p><br/></p>

    <a href="/animals">
        <div style="padding-left:15%;">
            <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 width="80%" height="190" viewBox="0 0 324.536 324.536" enable-background="new 0 0 324.536 324.536"
	 xml:space="preserve">
                <g>
                    <text transform="matrix(1 0 0 1 88.3736 128.8133)"><tspan x="0" y="0" fill="#64E270" font-family="'Quicksand'" font-size="31.5929" letter-spacing="2">GET TO </tspan><tspan x="-47.437" y="37.911" fill="#64E270" font-family="'Quicksand'" font-size="31.5929" letter-spacing="2">KNOW YOUR </tspan><tspan x="-44.451" y="75.823" fill="#64E270" font-family="'Quicksand'" font-size="31.5929" letter-spacing="2">NEIGHBOURS</tspan></text>
                </g>
                <circle fill="none" stroke="#64E270" stroke-width="3" stroke-miterlimit="10" cx="162.268" cy="162.268" r="160.768"/>
            </svg>
        </div>
    </a>
</div>

