<div class="container">
    <h1>EUROPE ALIENS</h1>

    <p>Papageien kennst du aus Omas Käfig? Die Asiatische Tigermücke ging dir im letzten Thailand-Urlaub voll auf die
        Nerven? Und du glaubst, der Ochsenfrosch verspeist nur südamerikanische Ratten?</p>

    <p>
        Leider nein. Diese Tiere werden gerade zu deinen neuen Nachbarn. Und zur Gefahr für heimische Arten.
    </p>

    <a class="btn btn-primary" href="/animals">
        <span class="glyphicon glyphicon-chevron-right"></span>
        Tiere in deiner Nähe entdecken
    </a>

    <p><br/></p>

    <p><br/></p>

    <h4>Zunahme der Landtiere</h4>
</div>
<highchart id="introChart" config="chartConfig" class="chart"></highchart>

